@font-face {
  font-family: "proxima-nova";
  src: url("../src/assets/fonts/proxima-nova-300.woff2") format("woff2");
  src: url("../src/assets/fonts/proxima-nova-400.woff2") format("woff2");
}

body {
  font-family: "proxima-nova";
  background-color: rgba(0, 0, 0, 0.1);
}
